<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Home</title>
</head>

<body>


<nav class="navbar navbar-default">
    <div class="container-fluid">
	        <div class="navbar-header">
	            <a class="navbar-brand" href="/">Electronic Diary</a>
	        </div>
	        <ul class="nav navbar-nav">
	            <li class="pupils"><a href="/pupils">Lista pupilków</a></li>
	             <li class="active"><a href="/addpupil">Dodaj</a></li>
	             <li><a href="/login">Zaloguj sie</a></li>
	              <li><a href="/register">Utwórz konto</a></li>
	        </ul>
    </div>
</nav>

<div class="col-lg-3">

  <p th:text="${message}">Dodaj</p>
  
   			 <h1>Add pupilek:</h1> 
   			 	<form th:action="@{/pupils}" th:object="${pupilModel}" method="post">
    
	       			<p><input type="text" th:field="*{firstName}" placeholder="Name" /></p>
	        
			        <p><input type="text" th:field="*{lastName}" placeholder="Last name" /></p>
			        
			        <p><input type="number" th:field="*{pesel}" placeholder="pesel" /></p>
			                
			        <p><input type="submit" value="Add Pupil" /></p>        
  			   </form>    
  			       
    <a th:href="@{/pupils}">List all pupils</a>
    
</div> 
    
    <div class ="col-lg-3">
    
    </div> 
    
  	<div class="col-lg-3">
  
     </div>    
</body>
</html>

