<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Home</title>
</head>
<body>


<nav class="navbar navbar-default">
    <div class="container-fluid">
	        <div class="navbar-header">
	            <a class="navbar-brand" href="/">Login i Password</a>
	        </div>
	        <ul class="nav navbar-nav">
	            <li class="pupils"><a href="/pupils">Lista pupilków</a></li>
	             <li class="active"><a href="/addpupil">Dodaj</a></li>
	             <li><a href="/loginform">Zaloguj sie</a></li>
	              <li><a href="/register">Utwórz konto</a></li>
	        </ul>
    </div>
</nav>

<div class="col-lg-3">

  <p th:text="${message}">Dodaj</p>
  
   			 <h1>Wpisz dane login oraz hasło</h1> 
   			 	<form th:action="@{/addUserController}" th:object="${userModel}" method="post">
    
	       			<p><input type="text" th:field="*{login}" placeholder="Login" /></p>
			        <p><input type="text" th:field="*{password}" placeholder="Hasło" /></p>
			        <p><input type="text" th:field="*{password}" placeholder="Powtórz hasło" /></p>  
			        <p><input type="submit" value="Dalej" /></p>        
  			   </form> 
</div> 
    
    <div class ="col-lg-3">
    
    </div> 
    
  	<div class="col-lg-3">
  
     </div>    
</body>
</html>

