<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Electronic diary</title>
    <th:block th:include="fragments/stylesAndScripts :: head"></th:block>
    <style>
        .toHide
        {
            display: none;
        }
        {
            display:table-cell;
        }
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>


</head>
<body>
<th:block th:include="fragments/stylesAndScripts :: navi"></th:block>
<div>
    <div class="row justify-content-center mt-2">
        <div class="col-md-9 col-lg-9 mt-1">
            <div class="form-group">
            <form th:action="@{/showMarks}" th:object="${selectedLeson}" method="post">

                <select  th:name="value"  th:field="*{lessonList} ">
                    <option th:each="option : ${lessonList}"
                            th:value="${option.getLessonList()}"
                            th:text="${option.getOptionLessonName()}">Options</option>
                </select>
                                 <input type="submit" value="Znajdz oceny" />
                            </form>
                <p style="font-weight: 500; font-size:20px;color:#00fffd;" th:text="${emptyList}"></p>
            </div>

            <div >
                <table class="table table-hover">
                    <tr>
                        <th>Ocena      </th>
                        <th>Opis oceny </th>
                         <th>Waga oceny</th>
                    </tr>
                    <tr th:each="marks : ${userMarks}">
                        <td th:text="${marks.markValue}"></td>
                        <td th:text="${marks.markPurpose}"></td>
                        <td th:text="${marks.markWeight}"></td>
                    </tr>
                </table>
            </div>

            <div>
        </div>
    </div>
</div>
</div>
<th:block th:include="fragments/stylesAndScripts :: js_import"></th:block>
</body>
</html>

