<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dziennik elektroniczny</title>
    <th:block th:include="fragments/stylesAndScripts :: head"></th:block>

    <script type="text/javascript" >

        function myFunction() {


            var markValue = document.getElementById("markValue").value;
            var markWeight = document.getElementById("markWeight").value;
            if(markValue > 7 || markValue < 0 || markWeight > 11 || markWeight > 0)
            {  document.getElementById(demo).innerHTML ='Niepoprawne wartości';}

        }
    </script>

</head>

<body>
<th:block th:include="fragments/stylesAndScripts :: navi"></th:block>
<div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-9 col-lg-9 mt-3">
            <div class="form-group">
                <h1>Wystawione oceny</h1>
            </div>
            <form th:action="@{/selectPupilToVieMarks}"  th:object="${selectedOption}" method='get'>

                <label>Wybierz klasę:</label>
                <div class="form-group">
                    <select  class="form-control" th:name="value"  th:field="*{option}">
                        <option th:each="option : ${searchOptions}"
                                th:value="${option.getOption()}"
                                th:text="${option.getOptionName()}">Options</option>
                    </select>
                </div>
                <button type="submit">Zatwierdź</button>

            </form>


            <form  th:action="@{/viewMarksTableToEdit}"  th:object="${selectedOptionPupil}" method='get'>

                <label>  Wybierz ucznia:</label>
                <select class="form-control" th:field="*{optionPupil}">
                    <option th:each="lessonList : ${searchOptionsPupil}"
                            th:value="${lessonList.getOptionPupil()}"
                            th:text="${lessonList.getOptionPupilName()}">Options</option>
                </select>
                <button type="submit">Zatwierdź</button>
                <p style="font-weight: 500; font-size:15px;color:#ff9494;" th:text="${editMarksError}"></p>

                <div th:each="marks: ${markList}">
                    <form   >
                        <table class="table table-hover">
                            <thead  th:if="${marks.index} < 2 or marks.index==null" >
                            <tr>
                                <th>Ocena      </th>
                                <th>Opis oceny </th>
                                <th>Waga oceny</th>
                            </tr>
                            </thead>
                            <input class="form-control"  type="hidden" name="markId" th:value="${marks.markId}" >
                            <tr>

                                <td><input class="form-control"  type="number" name="markValue" th:value="${marks.markValue}"   ></td>
                                <td><input class="form-control"  type="text" name="markPurpose" th:value="${marks.markPurpose}"   ></td>
                                <td><input class="form-control"  type="number"  name="markWeight"   th:value="${marks.markWeight}" value ="first" ></td>
                                <td> <button type="submit" formaction="/editMark">Edytuj ocene</button></td>
                                <td> <button type="submit" formaction="/deleteMark">Usun ocene</button> </td>
                            </tr>

                        </table>


                    </form>


                </div>



            </form>
            <div class="form-group">
                <p  style="font-weight: 500; font-size:30px;color:red;" th:text="${emptyListMessage}"></p>
            </div>
        </div>
    </div>
    <br/>




</div>



<th:block th:include="fragments/stylesAndScripts :: js_import"></th:block>
</body>
<!--<script type="text/javascript">-->

<!--$(document).ready(function() {-->
<!--$('#pupils').change(function() {-->
<!--var parentForm = $(this).closest("form");-->
<!--if (parentForm && parentForm.length > 0)-->
<!--parentForm.submit();-->
<!--});-->
<!--});-->

<!--$(document).ready(function() {-->
<!--$('#classes').change(function() {-->
<!--var parentForm = $(this).closest("form");-->
<!--if (parentForm && parentForm.length > 0)-->
<!--parentForm.submit();-->
<!--});-->
<!--});-->
<!--</script>-->
</html>