<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Electronic diary</title>
    <th:block th:include="fragments/stylesAndScripts :: head"></th:block>

</head>
<body >

<th:block th:include="fragments/stylesAndScripts :: navi"></th:block>
<div class="container-fluid">
    <div class="row justify-content-center mt-5">
        <div class="col-md-1 col-lg-7 mt-3">
            <a class="welcome fade-in"> Witam w mojej aplikacji Na potrzeby testowania przykładowe dane typu login oraz password znajdują w opisie aplikacji na stronie https://github.com/adrian92a/electronicdiary</a>
        </div>
    </div>
</div>
<th:block th:include="fragments/stylesAndScripts :: js_import"></th:block>
</body>
</html>



        <!--<li th:if= "${not #strings.isEmpty(@userContextService.getLoggedAs())}" ><a th:if="${#lists.contains(@userContextService.getRoles(), 'ROLE_PUPIL')}" href="/checkmarks">Sprawdz oceny</a></li>-->
        <!--<li th:if= "${not #strings.isEmpty(session.email)}" ><a th:if="${#lists.contains(session.rolename, 'ROLE_TEACHER')}" href="/insertmarksform">Wstaw oceny</a></li>-->
        <!--<li th:if= "${not #strings.isEmpty(session.email)}" ><a th:if="${#lists.contains(session.rolename, 'ROLE_TEACHER')}" href="/viewmarksteacher">Wstawione oceny</a></li>-->


	




    <!--<div class ="col-lg-3">-->

         <!--<p style="font-weight: 500; font-size:20px;color:#005dff;" th:text="${message}"></p>-->
         <!--<h1 th:if= "${not#strings.isEmpty(session.email)}" style="font-size:100%;" >Zalogowany jako:</h1>-->
         <!--<h1 th:if= "${not#strings.isEmpty(session.email)}" style="font-size:100%;" th:text="${session.email}">Zalogowany</h1>-->
         <!--<h3 th:if= "${not#strings.isEmpty(session.email)}" style="font-size:100%;" >Twoje uprawnienia</h3>-->


        <!--<div th:if= "${not#strings.isEmpty(session.email)}">-->
        <!--<div th:each="role: ${session.rolename}"> <h1 style="font-size:100%;"th:text="${role}">Zalogowany</h1><div/>-->
        <!--<div th:if= "${not#strings.isEmpty(session.email)}">-->
            <!--<div th:each="role: ${session.rolename}"> <h1 style="font-size:100%;"th:text="${role}">Zalogowany</h1><div/>-->
            <!--</div>-->

                <!--<div th:each="role: ${@userContextService.getRoles()}">-->
                    <!--<h1 style="font-size:100%;"th:text="${#strings.substring(role,5)}"></h1>-->
                <!--</div>-->

                <!--<p th:text="${@userContextService.getLoggedAs()}"></p>-->

        <!--</div>-->
	<!--<br>-->



<!--</div>-->

        <!--<div class="col-lg-3">-->

<!--</div>-->

  	<!--<div class="col-lg-3">-->

     <!--</div>-->



