<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dziennik elektroniczny</title>
    <th:block th:include="fragments/stylesAndScripts :: head"></th:block>
</head>
 <style>
     .toHide
     {
         display: none;
     }
{
    display:table-cell;
}
     table {
         font-family: arial, sans-serif;
         border-collapse: collapse;
         width: 100%;
     }

     td, th {
         border: 1px solid #dddddd;
         text-align: left;
         padding: 8px;
     }

     tr:nth-child(even) {
         background-color: #dddddd;
     }
</style>
    <script type="text/javascript">
        document.getElementById('lessonId').value = "<?php echo $_GET['lessonId'];?>";
    </script>

    <script type="text/javascript" >

function myFunction(demo,size) {

    for (i = 1; i <= size; i++) {
        document.getElementById(i).innerHTML ='';
    }
    document.getElementById(demo).innerHTML ='Ocene wstawiono pomyślnie';
}
</script>
</head>
<body>
<th:block th:include="fragments/stylesAndScripts :: navi"></th:block>
    <h1><b>Wstawianie ocen</b></h1>
    <form th:action="@{/selectedClassToInsertMarks}" name='f' th:object="${selectedOption}" method='post'>
        <b>  Wybierz klasę:</b>
        <select th:field="*{option}">
            <option th:each="option : ${searchOptions}"
                    th:value="${option.getOption()}"
                    th:text="${option.getOptionName()}">Options</option>
        </select>
        <button type="submit">submit</button>

    </form>


<iframe width="-1" height="-1" border="0" value = "wpisany tekst" name="dframe" id="dframe"></iframe>
<div th:each="pupil: ${pupilList}">
    <form th:action="@{/insertOneMark}" th:onsubmit="'myFunction(\'' + ${pupil.index} + '\',\'' + ${pupilList.size()} + '\');'"  th:object="${pupil}" method="get" target="dframe">
        <table class="table table-hover">

            <input class="toHide" type="text"  name="lessonId"   th:value="${pupil.lessonId}" readonly>
            <input class="toHide" type="text"  name="pupilId"   th:value="${pupil.pupilId}"  readonly>
            <tr>

                <td><input class="form-control"  type="text" id="firstName" name="firstName"   th:value="${pupil.firstName}"  readonly></td>
                <td><input class="form-control" type="text" id="lastName" name="lastName" th:value="${pupil.lastName}" readonly></td>
                <td> <input required class="form-control"  type="number"   max ="6" step="1"  onkeypress="return setMark(event)" name="mark" min="1" placeholder="Ocena"/></td>
                <td> <input type="date" name="markDate" ></td>
                <td> <select required id='purpose' class="form-control"  name="description">
                    <option  value = "SPRAWDZIAN" selected>Sprawdzian</option >
                    <option value = "KARTKOWKA">Kartkówka</option>
                    <option value = "ODPOWIEDZ USTNA">Odpowiedz ustna</option>
                    <option value = "PRACA_DOMOWA">Praca domowa</option>
                    <option value = "INNE">inne</option>
                </select>
                </td>
                <td> <input required class="form-control" type="number"  size="5" name="markWeight" id='markWeight' min="1" max ="9" step="1"  onkeypress="return setWeight(event)"   placeholder="Waga Oceny"/></td>
                <td> <button type="submit"  >Wstaw ocene</button>  </td>
            </tr>
        </table>
        <p style="color:sandybrown; font-weight: bold"  th:id="${pupil.index}"> </p>

    </form>
</div>

<th:block th:include="fragments/stylesAndScripts :: js_import"></th:block>
</body>
</html>