<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Authors</title>
</head>
<body>


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Electronic Diary</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/pupils">Lista pupilków</a></li>
            <li><a href="/addpupil">Dodaj</a></li>
             <li class="active" ><a href="/login">Zaloguj sie</a></li>
             <li><a href="/register">Utwórz konto</a></li>
        </ul>
    </div>
</nav>

<div>
    <div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>imie	</th>
                <th>nazwisko  </th>
                <th>pesel  </th>
            </tr>
            </thead>

            <tr th:each="pupil: ${pupilList}">
                <td th:text="${pupil.firstName}"></td>
                <td th:text="${pupil.lastName}"></td>
                <td th:text="${pupil.pesel}"></td>
            </tr>
        </table>
    </div>

</body>
</html>

