<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Home</title>
</head>
<body>


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Electronic Diary</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/loginform.jsp">Zaloguj sie</a></li>
            <li class="active" ><a href="/register">Utwórz konto</a></li>
        </ul>
    </div>
</nav>  

  
	<div class="col-lg-6">

    		<p th:text="${message}">Dodaj</p>
  		
   			 <h1 style="font-size:100%;">Aby rozpocząć rejestracje wpisz 20-cyfrowy kod otrzymany na uczelni / w szkole</h1> 
   			
   			 	<form th:action="@{/registerKeyController}" th:object="${keyRegisterModel}" method="post">
    
			        <p><input type="text" th:field="*{keyRegisterValue}" placeholder="20-cyfrowy kod" width="48" height="48"/></p>
			        
			 
			     
			                
			        <p><input type="submit" value="Rozpocznij rejestracje" /></p>      
		
  			   </form>    
  			      <h3 th:text="${keyRegisterModel.keyError}"></h3>    
		
	</div>  
    	<div class="col-lg-3">
  
</div>   
  	<div class="col-lg-3">
  
</div>
</body>
</html>

