<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dziennik elektroniczny</title>
    <th:block th:include="fragments/stylesAndScripts :: head"></th:block>
</head>
<script>
    function validateForm() {
        var a = document.getElementById("registerKey").value;
        if (!a.length) {
            alert("Form number must be filled out");
            return false;
        }else if (!a.match(/^[0-9]+$/)) {
            alert("Form number must be filled with numbers only");
            return false;
        }else if (!a.length == 20) {
            alert("Form number must have 20 character length");
            return false;
        }
    }
</script>

</head>
<body>
<th:block th:include="fragments/stylesAndScripts :: navi"></th:block>
<div class="container-fluid">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 col-lg-4 mt-3">
            <h4>Aby rozpocząć rejestracje wpisz 20- cyfrowy kod otrzymany na uczelni lub w szkole, następnie podaj swój email oraz wybierz hasło</h4>
            <form  th:action="@{/register}"  th:object="${userDTO}" method="post">
                <div class="form-group">
                    <label>Email address</label>
                    <input type="text" class="form-control" th:field="*{registerKey}" id='registerKey' placeholder="20 cyfrowy kod">
                    <span  class="error" th:if="${#fields.hasErrors('registerKey')}" th:errors="*{registerKey}">Name Error</span>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" th:field="*{email}" placeholder="Email"  class="form-control" required>
                    <span  class="error"  th:if="${#fields.hasErrors('Email')}" th:errors="*{email}">Name Error</span>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="text" th:field="*{password}" placeholder="Password"   class="form-control" required>
                    <span  th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</span>
                </div>
                <button type="submit" class="btn btn-primary">Zarejestruj nowego uzytkownika</button>
            </form>
        </div>
    </div>

</div>
<th:block th:include="fragments/stylesAndScripts :: js_import"></th:block>
</body>
</html>

