<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dziennik elektroniczny</title>
    <th:block th:include="fragments/stylesAndScripts :: head"></th:block>

    <script>
        function validateForm() {
            var email = document.getElementById("email").value;
            var password = document.getElementById("password").value;
            var alert = "Hasło musi mieć co najmniej 8 znaków";

            var email = document.getElementById("email").value;
            var atpos = email.indexOf("@");
            var dotpos = email.lastIndexOf(".");


            if (password.length < 8) {
                document.getElementById("validpassword").innerHTML = alert;
            }
            if (password.length >= 8) {
                document.getElementById("validpassword").innerHTML = "";
            }

            var alert2 = "niepo rawny email"
            if (atpos < 1 || dotpos < atpos + 2 || dotpos + 2 >= x.length) {
                document.getElementById("validemail").innerHTML = alert2;
            }
            if (!(atpos < 1 || dotpos < atpos + 2 || dotpos + 2 >= x.length)) {
                document.getElementById("validemail").innerHTML = "";
                if (password.length < 8 || atpos < 1 || dotpos < atpos + 2 || dotpos + 2 >= x.length) {
                    return false;
                }
                return true;

            }
        }
    </script>

</head>
<body>
<th:block th:include="fragments/stylesAndScripts :: navi"></th:block>


<div class="container-fluid">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 col-lg-4 mt-3">

   			 <h4 style="font-size:130%;">Twoje dane:</h4>
<form th:action="@{/registerUser}" th:object="${RegisterKeyAndRoleDTO}" method="post">
<br/>
    <div class="form-group">
        <label>Kod logowania </label>
		<input class="form-control" type="text" th:field="${RegisterKeyAndRoleDTO.keyRegisterValue}" readonly/>
    </div>
                         <div class="form-group">
                             <label>Imię</label>
				    	<input class="form-control" type="text" th:field="${RegisterKeyAndRoleDTO.firstName}" readonly/>
                         </div>
                         <div class="form-group">
                             <label>Nazwisko</label>
		        	    <input class="form-control" type="text" th:field="${RegisterKeyAndRoleDTO.lastName}" readonly/>
                         </div>
                        <div class="form-group">
                            <label>Pesel</label>
				        <input class="form-control" type="text" th:field="${RegisterKeyAndRoleDTO.pesel}" readonly/>
		                 </div>
                        <div  th:if="${RegisterKeyAndRoleDTO.schollClassnumber != null}"class="form-group">
                        <label>classNumber </label>
                         <input class="form-control" type="text" th:field="${RegisterKeyAndRoleDTO.schollClassnumber}" readonly/>
                        </div>
		                  <div th:if="${RegisterKeyAndRoleDTO.schollClassLetter != null}" class="form-group">
                            <label>classLetter	</label>
                      <input  class="form-control" type="text" th:field="${RegisterKeyAndRoleDTO.schollClassLetter}" readonly/>
    	                 </div>
                            <div class="form-group">
                            <label>Twoje hasło	 </label>
                       <input class="form-control" type="text" th:field="${RegisterKeyAndRoleDTO.password}" readonly/>
                         </div>
 	                     <div class="form-group">
                            <label>  Twój E-mail</label>
                      <input class="form-control" type="text" th:field="${RegisterKeyAndRoleDTO.email}" readonly/>
                     </div>
                            <label ><b>W przypadku gdy któraś z powyższych danych osoboowych jest błędna proszę skontakować się z adminem: adrian.skorupa92@gmail.com lub tel. 608820193<b></label>

      <button type="submit" >Zakończ rejestracje</button>


			</form>

        </div>
    </div>
</div>


    

  
</div>   	 
</body>
</html>